trunk/Applications/BusinessIntelligence/Wing.Olap.Controls/Service References/OlapWebService/OlapWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PerformOlapServiceAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schemaType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="schema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformOlapServiceActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformOlapServiceActionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformOlapServiceActionSoapIn">
    <wsdl:part name="parameters" element="tns:PerformOlapServiceAction" />
  </wsdl:message>
  <wsdl:message name="PerformOlapServiceActionSoapOut">
    <wsdl:part name="parameters" element="tns:PerformOlapServiceActionResponse" />
  </wsdl:message>
  <wsdl:portType name="OlapWebServiceSoap">
    <wsdl:operation name="PerformOlapServiceAction">
      <wsdl:input message="tns:PerformOlapServiceActionSoapIn" />
      <wsdl:output message="tns:PerformOlapServiceActionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OlapWebServiceSoap" type="tns:OlapWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformOlapServiceAction">
      <soap:operation soapAction="http://tempuri.org/PerformOlapServiceAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OlapWebServiceSoap12" type="tns:OlapWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformOlapServiceAction">
      <soap12:operation soapAction="http://tempuri.org/PerformOlapServiceAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OlapWebService">
    <wsdl:port name="OlapWebServiceSoap" binding="tns:OlapWebServiceSoap">
      <soap:address location="http://localhost:1688/OlapWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="OlapWebServiceSoap12" binding="tns:OlapWebServiceSoap12">
      <soap12:address location="http://localhost:1688/OlapWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>